flows challenger.json
[{"id":"61bb4772.58b1f8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"63b2472e.79a258","type":"http request","z":"61bb4772.58b1f8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/45d8e5e9-0dd0-44fe-84a9-3807c04f9b5f/deployments/95f2eff1-282b-4867-930a-27e520404b15/online","tls":"","proxy":"","x":455,"y":110,"wires":[["e68bd1b2.f406f","d59b5c07.9d1c6"]]},{"id":"f1955c13.e02ec","type":"function","z":"61bb4772.58b1f8","name":"prediction","func":"var token=msg.payload.token;\nvar Temperature=global.get(\"Temperature\");\nmsg.payload={\"fields\":[\"Temperature\"],\"values\":[[Temperature]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":174,"wires":[["63b2472e.79a258"]]},{"id":"43d6b5a4.9ff8ac","type":"debug","z":"61bb4772.58b1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":855,"y":110,"wires":[]},{"id":"5af283d2.07741c","type":"http request","z":"61bb4772.58b1f8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","x":508,"y":371,"wires":[["45637d5a.6d11d4","f1955c13.e02ec"]]},{"id":"3c216f1a.654d6","type":"function","z":"61bb4772.58b1f8","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"973275ed-ee32-4f1e-9edd-8ee728d7c049\"\nvar password=\"f8d06ed6-5b73-48f7-b21e-de59a9c3471c\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"Temperature\",msg.payload.Temperature)\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":327,"wires":[["5af283d2.07741c"]]},{"id":"d59b5c07.9d1c6","type":"function","z":"61bb4772.58b1f8","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":545,"y":190,"wires":[["43d6b5a4.9ff8ac","883815b3.b45ca8"]]},{"id":"45637d5a.6d11d4","type":"debug","z":"61bb4772.58b1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":755,"y":390,"wires":[]},{"id":"dfceb3a.fb0725","type":"ui_form","z":"61bb4772.58b1f8","name":"","label":"","group":"b1640f10.befd3","order":3,"width":0,"height":0,"options":[{"label":"Temperature","value":"Temperature","type":"number","required":true}],"formValue":{"Temperature":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":175,"y":430,"wires":[["3c216f1a.654d6","5c5a9c2a.2e0164"]]},{"id":"5c5a9c2a.2e0164","type":"ui_text","z":"61bb4772.58b1f8","group":"b1640f10.befd3","order":4,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload.Temperature}}","layout":"row-spread","x":375,"y":450,"wires":[]},{"id":"883815b3.b45ca8","type":"ui_text","z":"61bb4772.58b1f8","group":"b1640f10.befd3","order":5,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":775,"y":230,"wires":[]},{"id":"e68bd1b2.f406f","type":"debug","z":"61bb4772.58b1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":651,"y":76,"wires":[]},{"id":"b1640f10.befd3","type":"ui_group","z":"","name":"Regression","tab":"6b4d4a6.17e55b4","disp":true,"width":"6","collapse":false},{"id":"6b4d4a6.17e55b4","type":"ui_tab","z":"","name":"ANNmodel","icon":"dashboard","disabled":false,"hidden":false}]